.second > img {
    width: 550.46px;
}

.second > .button {
    color: white;
    background-color: #458FF6;
}

.third > .button {
    color: #458FF6;
    border: 1.4px solid #458FF6;
}

.second {
    margin-bottom: 100px;
}

.third {
    margin-bottom: 330px;
}

.third hr {
    height: 2px;
    width: 50px;
    margin-left: 53px;
    background: #000000;
    border-radius: 5px;
    border-width: 0;
}

.container {
    margin-top: 100px;
    margin-bottom: 10px;
}

.container > .card {
    margin: 20px;
    display: inline-block;
    width: 300px;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px #E5E9F6;
}

.container > .card > .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.container > .card > .content > img {
    height: 70px;
}

.container > .card > .content > h3 {
    margin-top: 30px;
}

.container > .card > .content > p {
    margin: 0;
    height: 100px;
}